data_jsonl/20251029171847_RECmd_Batch_RegistryASEPs_Output(in)_tagged.jsonl
data_jsonl/20251029171935_RECmd_Batch_SoftwareASEPs_Output_tagged.jsonl
data_jsonl/20251029171959_RECmd_Batch_SoftwareClassesASEPs_Output_tagged.jsonl
data_jsonl/20251029172029_RECmd_Batch_SoftwareWoW6432ASEPs_Output_tagged.jsonl
data_jsonl/20251029172048_RECmd_Batch_SystemASEPs_Output_tagged.jsonl
data_jsonl/20251029172121_RECmd_Batch_UserClassesASEPs_Output_tagged.jsonl
Dataset/20251029171847_RECmd_Batch_RegistryASEPs_Output(in).csv
Dataset/20251029171935_RECmd_Batch_SoftwareASEPs_Output.csv
Dataset/20251029171959_RECmd_Batch_SoftwareClassesASEPs_Output.csv
Dataset/20251029172029_RECmd_Batch_SoftwareWoW6432ASEPs_Output.csv
Dataset/20251029172048_RECmd_Batch_SystemASEPs_Output.csv
Dataset/20251029172121_RECmd_Batch_UserClassesASEPs_Output.csv
fin_tag/20251029171847_RECmd_Batch_RegistryASEPs_Output(in)_tagged.csv
fin_tag/20251029171935_RECmd_Batch_SoftwareASEPs_Output_tagged.csv
fin_tag/20251029171959_RECmd_Batch_SoftwareClassesASEPs_Output_tagged.csv
fin_tag/20251029172029_RECmd_Batch_SoftwareWoW6432ASEPs_Output_tagged.csv
fin_tag/20251029172048_RECmd_Batch_SystemASEPs_Output_tagged.csv
fin_tag/20251029172121_RECmd_Batch_UserClassesASEPs_Output_tagged.csv
LLM_/
Dataset/qca_from_d.jsonl
Dataset/merged.json
Dataset/d.json
1차 Tag Dataset/
csvtag_output/